kivy[base]
plyer  # cross platform interfaces like file chooser
pyobjus; platform_system == "Darwin"  # macOS requirement for Kivy file chooser
black
flake8
Pillow
python-dateutil
python-dotenv
pydantic
typer
rich
pandas
sqlalchemy>2.0
sqlalchemy_utils==0.39.0
sentry-sdk
imagesize

torch==1.13.1
torchvision==0.14.1
timm
opencv_python
matplotlib
structlog
