kivy[base]
plyer  # cross platform interfaces like file chooser
pyobjus; platform_system == "Darwin"  # macOS requirement for Kivy file chooser
black
flake8
Pillow
python-dateutil
sqlalchemy==2.0b2
sqlalchemy_utils
sentry-sdk

torch
torchvision
timm
opencv_python
matplotlib
structlog

fastapi
uvicorn
jinja2
