kivy[base]
plyer  # cross platform interfaces like file chooser
black
Pillow
python-dateutil
pyobjus  # macOS requirement for Kivy
sqlalchemy
sqlalchemy_utils

torch
torchvision
timm
opencv_python
matplotlib