#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=AMI Trap Data Manager 
Comment=Analyze data from autonomous insect monitoring traps
Exec=trapdata
Icon=ami_logo
Terminal=false
Type=Application
Categories=Utility;Application;

