<html>
<head>
    <title>{% block title %}{% endblock %} | AMI Data Companion</title>
    <!--<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">-->
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
</head>
</head>
<body class="theme-light">
    <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href="/"><img src="/static/ami_logo.png" width="60px">&nbsp;</a></h1>
            <p>
                <a href="/deployments">Deployments</a> | 
                <a href="/surveys">Surveys</a> | 
                <a href="/detections">Detections</a>
            </p>
        </div>
    </header>
    <div class="page">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="container-xl">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>