{% extends "base.html" %}

{% block title %}Detections{% endblock %}

{% block content %}

<div class="row row-deck row-cards">
    {% for name, count in species_list %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body markdown">
                <h3 class="card-title">
                    {{ name }} ({{ count }})
                </h3>
                <div class="row row-deck row-cards">
                    {% for (object,) in get_objects(name) %}
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="card border-0" style="font-family:monospace">
                                <img src=" {{ url_for('crops', path=relative_path(object.path)) }} " />
                                <a href="{{ url_for('playback', image_id=object.image.id) }}">{{ object.image.timestamp }}</a>
                                <span>score: {{ "%.4f"|format(object.specific_label_score) }}</span>
                                <!--<div class="img-responsive img-responsive-1x1 rounded-3 border" 
                                    style="background-image: url( {{ url_for('crops', path=relative_path(object.path)) }} )"></div>
                                -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-lg-12">
        <a class="btn btn-primary" href="{{ next_url }}">Next</a>
    </div>
</div>


{% endblock %}