name: Test ML pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Set up Python 3.10
        run: uv python install 3.10

      - name: Install dependencies
        run: uv sync --no-default-groups

      - name: Run ML tests
        run: |
          uv run ami test pipeline
